* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #330c0c;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    /* -webkit-box-reflect: below 1px linear-gradient(rgba(233, 17, 17, 0.067), #0004); */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.container .loader {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #330c0c;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container .loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(232, 38, 31, 0.4));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.container .loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    background-color: #e16e6a;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #e16e6a,
                0 0 20px #e16e6a,
                0 0 30px #e16e6a,
                0 0 40px #e16e6a,
                0 0 50px #e16e6a,
                0 0 60px #e16e6a,
                0 0 70px #e16e6a,
                0 0 80px #e16e6a,
                0 0 90px #e16e6a,
                0 0 100px #e16e6a;
}

.container .loader span {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #330c0c;
    border-radius: 50%;
}